:root {
  --color-background-black: #303846;
  --color-background-white: #e0e1e3;

  // course category color
  --color-course-others: #e76f51;
  --color-course-design: #287271;
  --color-course-software: #2a9d8f;
  --color-course-bussiness: #e9c46a;
  --color-course-photography: #f4a261;
  --color-course-music: #ee8959;
}
